<nav class="this_nav" aria-label="In-page jump links">
    <ul class="this_list">
        <li *ngFor="let section of sections">
            <a
                [href]="'#' + section.id"
                (click)="scroll($event, section.id)"
                class="this_link">
                <span
                    class="this_indicator"
                    [ngClass]="(activeSection$ | async) === section.id ? 'this_indicator_active' : ''"></span>
                <span
                    class="this_text"
                    [ngClass]="(activeSection$ | async) === section.id ? 'this_text_active' : ''">{{ section.label }}</span>
            </a>
        </li>
    </ul>
</nav>
