<li class="this_card">
    <div class="this_surface">
        <div class="this_hover"></div>

        <div class="this_content">
            <header class="this_date" [ngClass]="fixedDateColumn ? 'this_date_fixed' : ''">
                {{date}}
            </header>

            <div class="this_main">
                <h3 class="this_title">
                    <div>
                        <a
                            *ngIf="link; else staticTitle"
                            [href]="link"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="this_title_link">
                            <span>
                                {{pos}}
                                <span class="this_issuer">
                                    {{ issuer }}
                                    <svg *ngIf="showIssuerIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="this_icon"
                                        aria-hidden="true">
                                        <path fill-rule="evenodd"
                                            d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
                                            clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            </span>
                        </a>
                        <ng-template #staticTitle>
                            <span class="this_title_static">
                                {{pos}}
                                <span class="this_title_static_issuer">{{'-' + ' ' + issuer }}</span>
                            </span>
                        </ng-template>
                    </div>
                </h3>

                <p class="this_description">
                    {{desc}}
                </p>

                <ul class="this_skills" aria-label="Technologies used">
                    <li *ngFor="let skill of skills">
                        <div class="this_skill">
                            {{skill.name}}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</li>
