<div id="about" class="space-y-4 max-w-[80%] mx-auto px-4">
    Experienced
    <a href="https://www.linkedin.com/in/darko-vulicevic/"
        class="text-slate-200 hover:text-teal-300 focus-visible:text-teal-300" target="_blank">Software Engineer</a>
    with over four years of expertise in designing and optimizing desktop and
    web applications. Proficient in modern JavaScript frameworks, particularly
    Angular, with a focus on creating seamless and user-friendly solutions.
    Combines technical excellence with a strong work ethic, attention to detail,
    and a collaborative approach. Committed to staying current with industry
    trends and implementing innovative solutions to meet evolving project needs.
</div>
