<div id="about" class="space-y-4 max-w-[90%] mx-auto px-4">
    Experienced software developer with a proven track record of over four
    years, specializing in the creation and enhancement of both desktop and web
    applications using JavaScript, with a particular focus on the Angular
    framework. Dedicated and responsible professional, I bring a strong work
    ethic, attention to detail, and a collaborative mindset to every project. My
    inherent curiosity propels me to stay informed about industry trends and
    adopt innovative solutions.
</div>
