<div class="p-4 sm:p-6 w-full flex justify-center">
    <div class="text-left w-full max-w-[90%] sm:max-w-[50%] space-y-4">
        <div class="flex space-x-4">
            <a href="assets/DarkoVulicevic.pdf" download title="Darko Vulicevic's CV" class="text-[#94A3B8] hover:text-slate-200">
                <i class="fas fa-file-pdf text-2xl sm:text-3xl"></i>
            </a>
            <a href="https://github.com/darkovulicevic" target="_blank" class="text-[#94A3B8] hover:text-slate-200">
                <i class="fab fa-github text-2xl sm:text-3xl"></i>
            </a>
            <a href="https://www.linkedin.com/in/darko-vulicevic/" target="_blank"
                class="text-[#94A3B8] hover:text-slate-200">
                <i class="fab fa-linkedin text-2xl sm:text-3xl"></i>
            </a>
            <a href="https://instagram.com/darko.vulicevic" target="_blank" class="text-[#94A3B8] hover:text-slate-200">
                <i class="fab fa-instagram text-2xl sm:text-3xl"></i>
            </a>
        </div>
        <div class="text-[#94A3B8] text-sm sm:text-base">
            &copy;&nbsp;<a href="https://www.linkedin.com/in/darko-vulicevic/"
                target="_blank" class="text-slate-200 hover:text-teal-300 focus-visible:text-teal-300">Darko Vulicevic.</a>
            All rights reserved.
        </div>
    </div>
</div>
