<div class="this_content">
    <div class="this_inner">
        <div class="this_links">
            <a
                href="assets/DarkoV.pdf"
                download
                title="Darko Vulicevic's CV"
                aria-label="Download CV"
                class="this_icon_link">
                <i class="this_icon this_icon_pdf"></i>
            </a>
            <a
                href="https://github.com/darkovulicevic"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Open GitHub profile"
                class="this_icon_link">
                <i class="this_icon this_icon_github"></i>
            </a>
            <a
                href="https://www.linkedin.com/in/darko-vulicevic/"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Open LinkedIn profile"
                class="this_icon_link">
                <i class="this_icon this_icon_linkedin"></i>
            </a>
            <a
                href="https://instagram.com/darko.vulicevic"
                target="_blank"
                rel="noopener noreferrer"
                aria-label="Open Instagram profile"
                class="this_icon_link">
                <i class="this_icon this_icon_instagram"></i>
            </a>
        </div>
        <div class="this_copyright">
            &copy;&nbsp;<a href="https://www.linkedin.com/in/darko-vulicevic/"
                target="_blank" rel="noopener noreferrer"
                class="this_copyright_link">Darko Vulicevic.</a>
            All rights reserved.
        </div>
    </div>
</div>
